.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.overview {
    height: 180px;
    background-color: #d3dae1;
}


  
@media (min-width: 768px) {
    .scroll-column {
      max-height: 200px;
    }
}

.divided{
    width: 80px;
    border: 2px solid green;
}


  